<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 扫描 serviceImpl 使用的注解 注入bean -->
    <context:component-scan base-package="com.czy.*.serviceImpl" />

    <!-- 引入服务端点接口(SEI)配置文件 -->
    <import resource="classpath:sei/*/*.xml" />

</beans>
